/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/04/2020, 21:23:16
    Author     : Juan
*/
*{
    box-sizing: border-box;
	      
}
html, body{
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.main-nav{
    background-color: #cccccc;
    text-align: left;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}



fieldset{
    width:50%;  
    border:none;
}

.container{
    padding-left: 1em;
    width:100%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
input{

padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
margin: 0.5em;
}
.col1{
    float:left;
    width: 10%;
    margin-top: 6px;
}
.col2{
    float: left;
    width: 90%;
    margin-top: 0;
}
.row:after{
    content:"";
    display: table;
    clear: both;

}
.results{
    float:left;
    width: 10%;
    margin:1em 1em;
    font-weight: 700;
    
    
}